@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: "VT323", monospace;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.control-panel-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 2em;
}
.control-panel-button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: rgba(234, 5, 85, 0.57);
  color: #ffffff;
  padding: 0 10px;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(8, 40px); /* Creates 8 columns each 40px wide */
  grid-template-rows: repeat(9, 40px); /* Creates 9 rows each 40px high */
  gap: 2px; /* Optional: adds a gap between cells */
}
.cell {
  background-color: rgba(91, 65, 71, 0.57);
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
}
.with_bombs {
  /*with_bombs class is only for testing&developing */
  background-color: blueviolet;
}
.bomb_opened {
  border: 2px groove red;
  background-image: url('../src/resources/target.svg');
  background-size: contain;
  box-shadow: 0px 0px 2px 2px darkred;
}
.fired {
 /* border: 2px groove red; */
  background-image: url('../src/resources/fired.svg');
  background-size: contain;
  background-color: red;
  box-shadow: 0px 0px 2px 2px darkred;
}
.opened {
  border: 2px solid red ;
  box-shadow: 0px 0px 2px 2px darkred;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
